
* {
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif ;
    scroll-behavior: smooth;
}

header#top{
    position:fixed;
    z-index:9999;
    background-color: white;
    top:0;
    width: 100%;
    overflow: hidden;
    height: 50px;
    display: flex;
}

header img#logo  {
    object-fit: contain;
    display: inline-flex;
    margin: 5px;
    float: left;
}
nav {
    margin-left: auto;
    align-items: center;
    display: inline-flex;
}

nav ul{
    display: inline-flex;
}

nav ul li a {
    font-size: 12px;
    font-weight: bold ;
    margin: 2vw;
    color: black;
}
@media (min-width: 500px) {nav ul li a {
    font-size: 20px;
    transition: 1s;
}
}

nav ul li a:hover {
    text-decoration: none;
    color: black;
    transition: 0.3s;
    border-bottom: 3px solid  black;
    margin-bottom: -3px;
}

main {
    background-color:lightblue; /*Para identificar secciones*/
    margin-top: 50px;
}

article {
    background-color:red; /*Para identificar secciones*/
    padding: 1em;
    width: 100%;
}

article#catalogo {
    background-color: aqua;
}

#catalogo section{
    background-color: black;
    display: flex;
    padding: 10px;
}
article header {
    background-color:purple; /*Para identificar secciones*/
    padding: 1em;
    font-size: x-large;
    font-weight: bold;

}

article section {
    background-color:green; /*Para identificar secciones*/
    padding: 0.1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background-color: blue;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 10px;
}

.card .content {
    padding: 5px;
    font-size: medium;
}

.image {
    background-color:aqua;
    width: 100%;
}

.image img{
    background-color: #ffe600;
    aspect-ratio: 1/1;
    object-fit:cover;
    max-width:100%;
    max-height:100%;

}

.content{
}

.section .iframe {
    display: flex;
}

form{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 10px;
}

#consulta{
	width: 60%;
	border-radius: 10px;
    padding: 5px;
}

#miEmail{
	width: 40%;
	border-radius: 10px;
    padding: 5px;
}

#btnEnviar{
	width: 20%;
	border-radius: 10px;
}