
body{
    font-family: 'Roboto', sans-serif ;
}

header#top{
    position:fixed;
    z-index:9999;
    width: 100%;
    background-color: aqua;
    top:0;
    width: 100%;
    overflow: hidden;
    
}

header img#logo  {
    background-color:antiquewhite; /*Para identificar secciones*/
    max-width: 20%;
    object-fit: contain;


}
nav {
    background-color:#ffe600; /*Para identificar secciones*/
}

nav ul li{
    display: block;
    margin: 5px;
    font-weight: bold ;
    text-align: center;
    padding: 1px;
    margin: 1px;
    background-color: rgb(8, 183, 81);
}

nav a:hover {
    background: #ddd;
    color: black;
  }

main {
    background-color:lightblue; /*Para identificar secciones*/
    margin-top: 100px;
}

article {
    background-color:red; /*Para identificar secciones*/
    padding: 1em;
}

article header {
    background-color:purple; /*Para identificar secciones*/
    padding: 0.1em;

}

article section {
    background-color:green; /*Para identificar secciones*/
    padding: 0.1em;
}